.receiver-top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.total-receiver-card > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 15px;
}
.receiver-left-section {
  background-color: #b0edc4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #71b689;
}
.receiver-left-section > h4 > span {
  color: #71b689;
}
.receiver-left-section > h4 {
  color: #24472e;
}
.receiver-left-section > p {
  margin-top: 10px;
  color: #24472e;
  font-size: 16px;
}
.total-receiver-card {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.receiver-top-section > p {
  font-size: 13px;
  margin-top: 5px;
  color: rgb(70, 67, 67);
  text-align: left;
}
.doc-preview {
  background-color: rgb(236, 234, 234);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
.doc-preview > span {
  font-size: 35px;
  color: rgb(238, 62, 62);
}
.download-button {
  position: relative;
  /* font-size: 10px; */
  top: 15px;
  left: 90px;
  color: rgb(73, 71, 71);
  font-size: 20px;
  cursor: pointer;
}
.image-view {
  position: relative;
}
.image-view > img {
  height: 300px;
  width: 300px;
  margin-top: 15px;
}
.image-view > span {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}
