.total-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 30px;
  border-bottom: solid 3px #f3f5f7;
  border-right: 2px solid #71b689;
  cursor: pointer;
}
.total-card > img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 15px;
}
.card-right-section > h4 {
  margin-bottom: 5px;
  font-size: 18px;
}
.card-right-section > h4 > span {
  color: rgb(184, 183, 183);
  margin-left: 50px;
  font-size: 15px;
}
.card-right-section > p {
  color: rgb(184, 183, 183);
  font-size: 15px;
}
